<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        .title {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        /*yanux-components-distribution {
            --font-family: 'Times New Roman', Times, serif;
        }*/
        /*yanux-components-distribution::part(container) {
            color: red;
        }*/
    </style>
</head>

<body>
    <h1 class='title'><%= htmlWebpackPlugin.options.title %></h1>
    <yanux-components-distribution id="ycd" instanceId="5e1f1f35167afc2aaa1515b0">
    </yanux-components-distribution>
    <br />
    <yanux-resource-management id="yrm"></yanux-resource-management>
</body>

</html>